openapi: 3.0.0
info:
  contact:
    email: h3netprotocol@googlegroups.com
    name: Switchnomix Inc.
    url: https://www.switchnomix.com
  description: H3Net Protocol schema with various messages and configurations.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: H3Net Protocol API
  version: 1.0.0
  x-author: Shivaram Mysore
  x-company: Switchnomix Inc.
  x-copyright: Copyright © 2025 Switchnomix Inc. All rights reserved.
  x-documentation: https://h3net.switchnomix.com/api
  x-support: h3netprotocol@googlegroups.com
  x-schema-version: 1.0.0
  x-api-version: v1
  x-case-convention:
    parameters: camelCase
    enums: SCREAMING_SNAKE_CASE
    endpoints: kebab-case
  x-rate-limiting:
    tiers:
      basic: 1000 requests/hour
      premium: 10000 requests/hour
  x-idempotency-guidelines:
    description: Guidelines for idempotent operations
    version: "1.0"
    requirements:
    - All mutation operations (POST/PUT/DELETE) require an Idempotency-Key header
    - Idempotency keys must be UUIDs and are valid for 24 hours
    - Client timestamp required for all requests
    - Duplicate requests within TTL return the original response
    - Clients should implement exponential backoff for retries
    retryGuidelines:
      description: Recommended retry strategy
      strategy:
      - Use exponential backoff starting at 1 second
      - Maximum of 3 retry attempts
      - Maximum delay of 5 seconds between attempts
      - "Only retry on 408, 429, 500, 502, 503, 504 status codes"
  x-protocols:
    definitions:
      standard:
        type: string
        enum:
        - http
        - https
        - http3-webtransport
        default: http
        description: "Protocols supported by this endpoint. Use HTTP/HTTPS for standard\
          \ REST clients, HTTP/3 with WebTransport for bidirectional streaming."
      http-only:
        type: string
        enum:
        - http
        - https
        default: http
        description: Endpoint supports only HTTP/HTTPS protocols.
      http3-webtransport-only:
        type: string
        enum:
        - http3-webtransport
        default: http3-webtransport
        description: Endpoint requires HTTP/3 with WebTransport protocol.
    http:
      description: Standard HTTP/HTTPS endpoints
      ports:
        http: 80
        https: 443
        development: 9001
      usage: Standard request-response pattern
      example: "curl -k https://localhost:9001/hello -H \"Content-Type: application/json\"\
        \ -d '{...}'"
    http3-webtransport:
      description: HTTP/3 with WebTransport protocol support
      ports:
        development: 9000
      usage: Bidirectional streaming for real-time updates
      requirements:
      - HTTP/3 support
      - HTTP/3 with WebTransport protocol support
      - QUIC transport layer
externalDocs:
  description: H3Net Protocol API Reference in Redocly format
  url: /api/H3Net_Protocol_API.html
servers:
- description: H3Net Protocol API Reference
  url: https://h3net.switchnomix.com/api
- description: H3Net Protocol Production server
  url: https://api.h3net.switchnomix.com/v1
- description: H3Net Protocol Staging server
  url: https://staging-api.h3net.switchnomix.com/v1
tags:
- description: Core APIs
  name: core
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
- description: Configuration Management APIs
  name: config
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
- description: Pipeline Management APIs
  name: pipeline
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
- description: Discovery Management APIs
  name: discovery
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
- description: Telemetry Management APIs
  name: telemetry
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
- description: Operations Management APIs
  name: operations
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
- description: Security Management APIs
  name: security
  x-protocol:
    $ref: '#/info/x-protocols/definitions/standard'
paths:
  /hello:
    post:
      operationId: core.sendHello
      requestBody:
        content:
          application/json:
            example:
              type: HELLO
              timestamp: 2024-01-01T00:00:00Z
              schemaVersion: 1.0.0
              device:
                deviceId: switch-01
                hostname: switch-01.local
                managementIp: 192.168.1.1
                macAddress: 00:1A:2B:3C:4D:5E
                deviceRoles:
                - Switch
              message: Hello from switch-01
            schema:
              $ref: '#/components/schemas/HelloMessage'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                type: HELLO_RESPONSE
                timestamp: 2024-01-01T00:00:01Z
                schemaVersion: 1.0.0
                status: success
                message: Connection established successfully
              schema:
                $ref: '#/components/schemas/HelloResponse'
          description: Hello acknowledged. Server responds with HELLO_RESPONSE and
            may send a CAPABILITY_REQUEST
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      summary: Send hello message to establish connection
      tags:
      - core
      x-h3net-webtransport:
        enabled: true
        actions:
        - "on": HELLO_RESPONSE
          send: CAPABILITY_REQUEST
  /health:
    get:
      operationId: core.checkHealth
      responses:
        "200":
          content:
            application/json:
              example:
                type: HEALTH_STATUS
                timestamp: 2024-01-01T00:00:00Z
                schemaVersion: 1.0.0
                status:
                  type: STATUS
                  timestamp: 2024-01-01T00:00:00Z
                  state: healthy
                uptime: P1DT2H
                lastChecked: 2024-01-01T00:00:00Z
                components:
                  database: healthy
                  api: healthy
                  telemetry: healthy
                metrics:
                  activeConnections: 100
                  cpuUsage: 20.5
                  memoryUsage: 45.3
              schema:
                $ref: '#/components/schemas/HealthStatusMessage'
          description: System is healthy
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid query parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - Health information not available.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - System is unhealthy
      summary: Check system health
      tags:
      - core
  /events:
    post:
      operationId: events.sendEventNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNotificationMessage'
        required: true
      responses:
        "200":
          description: Request Successful
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "500":
          description: Internal Server Error
      summary: Send event notification
      tags:
      - events
  /discovery/capabilities:
    get:
      operationId: getDeviceCapabilities
      parameters:
      - description: ID of the device to query
        explode: true
        in: query
        name: deviceId
        required: true
        schema:
          type: string
        style: form
      - description: "Message type, must be CAPABILITY_REQUEST"
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - CAPABILITY_REQUEST
          type: string
        style: form
      - description: Level of detail in capability response
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: basic
          enum:
          - basic
          - detailed
          - full
          type: string
        style: form
      - description: "Specific capabilities to query, from CapabilityRequestMessage\
          \ schema"
        explode: true
        in: query
        name: requestedCapabilities
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                type: CAPABILITY_QUERY_RESPONSE
                timestamp: 2024-01-01T00:00:01Z
                schemaVersion: "1.0"
                status: success
                device:
                  deviceId: switch-01
                  hostname: core-switch-01
                  deviceRoles:
                  - Switch
                capabilities:
                  routingSupport: true
                  firewallSupport: false
                  vpnSupport: false
                  loadBalancing: false
                  qosSupport: true
                  ipv6Support: true
                  mplsSupport: false
                  sflowSupport: true
                  netflowSupport: false
                  features:
                    stacking: true
                    portChannels: true
                  supportedProtocols:
                  - lldp
                  - stp
                  - lacp
                  hardwareCapabilities:
                    tcamSize: 8192
                    bufferSize: 32768
                    forwardingCapacity: 400Gbps
                interfaces:
                - name: eth0
                  type: ethernet
                  speed: 1Gbps
                  enabled: true
                supportedTables:
                - acl
                - mac
                - route
                constraints:
                  maxFlowEntries: 10000
                  maxTables: 8
                  maxVlans: 4094
              schema:
                $ref: '#/components/schemas/CapabilityQueryResponse'
          description: Device capabilities retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid query parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - No capabilities found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Get device capabilities
      tags:
      - discovery
    post:
      operationId: queryDeviceCapabilities
      requestBody:
        content:
          application/json:
            example:
              type: CAPABILITY_REQUEST
              timestamp: 2024-01-01T00:00:00Z
              schemaVersion: "1.0"
              detail: detailed
              requestedCapabilities:
              - routingSupport
              - firewallSupport
              - vpnSupport
            schema:
              $ref: '#/components/schemas/CapabilityRequestMessage'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                type: CAPABILITY_QUERY_RESPONSE
                timestamp: 2024-01-01T00:00:01Z
                schemaVersion: "1.0"
                status: success
                device:
                  deviceId: router-01
                  hostname: edge-router-01
                  deviceRoles:
                  - Router
                capabilities:
                  routingSupport: true
                  firewallSupport: true
                  vpnSupport: true
                  loadBalancing: false
                  qosSupport: true
                  ipv6Support: true
                  mplsSupport: true
                  sflowSupport: false
                  netflowSupport: true
                  features:
                    bgp: true
                    ospf: true
                    nat: true
                  supportedProtocols:
                  - bgp
                  - ospf
                  - rip
                  - eigrp
                  hardwareCapabilities:
                    tcamSize: 16384
                    bufferSize: 65536
                    forwardingCapacity: 100Gbps
                interfaces:
                - name: eth0
                  type: ethernet
                  speed: 10Gbps
                  enabled: true
                supportedTables:
                - route
                - nat
                - policy
                constraints:
                  maxFlowEntries: 20000
                  maxTables: 16
                  maxVlans: 4094
              schema:
                $ref: '#/components/schemas/CapabilityQueryResponse'
          description: Capabilities query processed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid input data.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - Capability not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Query specific device capabilities
      tags:
      - discovery
  /discovery/capabilities/bulk:
    post:
      description: Query capabilities for multiple devices in a single request. This
        endpoint allows efficient retrieval of capability information for a batch
        of devices.
      operationId: queryBulkCapabilities
      requestBody:
        content:
          application/json:
            example:
              devices:
              - switch-01
              - switch-02
              - router-01
              query:
                type: CAPABILITY_REQUEST
                timestamp: 2024-01-01T00:00:00Z
                schemaVersion: "1.0"
                detail: detailed
                requestedCapabilities:
                - routingSupport
                - firewallSupport
            schema:
              $ref: '#/components/schemas/queryBulkCapabilities_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                results:
                  switch-01:
                    type: CAPABILITY_QUERY_RESPONSE
                    timestamp: 2024-01-01T00:00:01Z
                    schemaVersion: "1.0"
                    status: success
                    device:
                      deviceId: switch-01
                      hostname: core-switch-01
                      deviceRoles:
                      - Switch
                    capabilities:
                      routingSupport: true
                      firewallSupport: false
                    interfaces:
                    - name: eth0
                      type: ethernet
                      speed: 1Gbps
                      enabled: true
                  switch-02:
                    type: CAPABILITY_QUERY_RESPONSE
                    timestamp: 2024-01-01T00:00:01Z
                    schemaVersion: "1.0"
                    status: success
                    device:
                      deviceId: switch-02
                      hostname: access-switch-01
                      deviceRoles:
                      - Switch
                    capabilities:
                      routingSupport: false
                      firewallSupport: false
                    interfaces:
                    - name: eth0
                      type: ethernet
                      speed: 1Gbps
                      enabled: true
              schema:
                $ref: '#/components/schemas/queryBulkCapabilities_200_response'
          description: Bulk capability query response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid input data.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Query capabilities for multiple devices
      tags:
      - discovery
  /discovery/network:
    get:
      operationId: getNetworkDiscoveryStatus
      responses:
        "200":
          content:
            application/json:
              example:
                type: NETWORK_DISCOVERY_RESPONSE
                timestamp: 2024-01-01T00:00:00Z
                schemaVersion: "1.0"
                discoveryType: lldp
                discoveredDevices:
                - device:
                    deviceId: switch-02
                    hostname: access-switch-01
                    deviceRoles:
                    - Switch
                  discoveryProtocol: lldp
                  distance: 1
                  lastSeen: 2024-01-01T00:00:00Z
                  confidence: 1
                  connectionDetails:
                    localPort: eth1
                    remotePort: eth0
                    linkType: ethernet
                    localAddress: 192.168.1.1
                    remoteAddress: 192.168.1.2
                topology:
                  links:
                  - source: 192.168.1.1
                    target: 192.168.1.2
                    type: ethernet
              schema:
                $ref: '#/components/schemas/NetworkDiscoveryResponseMessage'
          description: Current network discovery status
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid query parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - No discovery information found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Get network discovery status
      tags:
      - discovery
    post:
      description: Initiates network discovery process to identify network topology
        and connected devices
      operationId: performNetworkDiscovery
      parameters:
      - description: Unique key for idempotent request handling
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          type: string
        style: simple
      - description: Client-side timestamp for request ordering (RFC3339 format)
        explode: false
        in: header
        name: X-Client-Timestamp
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: NETWORK_DISCOVERY
              timestamp: 2024-01-01T00:00:00Z
              schemaVersion: "1.0"
              discoveryType: lldp
              startPoints:
              - 192.168.1.1
              subnets:
              - address: 192.168.1.0
                prefixLength: 24
            schema:
              $ref: '#/components/schemas/NetworkDiscoveryMessage'
        description: Network discovery parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                type: NETWORK_DISCOVERY_RESPONSE
                timestamp: 2024-01-01T00:00:00Z
                schemaVersion: "1.0"
                discoveryType: lldp
                discoveredDevices:
                - device:
                    deviceId: switch-02
                    hostname: access-switch-01
                    deviceRoles:
                    - Switch
                  discoveryProtocol: lldp
                  distance: 1
                  lastSeen: 2024-01-01T00:00:00Z
                  confidence: 1
                  connectionDetails:
                    localPort: eth1
                    remotePort: eth0
                    linkType: ethernet
                    localAddress: 192.168.1.1
                    remoteAddress: 192.168.1.2
              schema:
                $ref: '#/components/schemas/NetworkDiscoveryResponseMessage'
          description: Network discovery completed successfully
        "400":
          content:
            application/json:
              example:
                type: ERROR
                timestamp: 2024-01-01T00:00:03Z
                schemaVersion: "1.0"
                status: error
                error:
                  code: 400
                  message: Invalid discovery parameters
                errorCode: 400
                errorMessage: Invalid discovery parameters
                context: Network discovery validation
                causes:
                - Invalid subnet range specified
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Invalid discovery parameters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdempotencyConflictError'
          description: Idempotency key conflict - request already processed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Perform Network Discovery
      tags:
      - discovery
  /discovery/network/options:
    get:
      operationId: getNetworkDiscoveryOptions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkDiscoveryOptions'
          description: Network discovery options retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid query parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - No discovery options found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Get network discovery options
      tags:
      - discovery
    put:
      operationId: updateNetworkDiscoveryOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkDiscoveryOptions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkDiscoveryOptions'
          description: Discovery options updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid discovery options.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - Discovery options not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Update discovery options
      tags:
      - discovery
  /discovery/network/neighbors/{deviceId}:
    get:
      operationId: getDeviceNeighbors
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: protocol
        required: false
        schema:
          enum:
          - lldp
          - cdp
          - fdb
          - bgp_neighbors
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DiscoveredNeighbor'
                type: array
          description: Device neighbors retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid deviceId or protocol parameter.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - Device not found or no neighbors discovered.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Get device neighbors
      tags:
      - discovery
  /discovery/network/topology:
    get:
      operationId: getNetworkTopology
      parameters:
      - description: Topology discovery depth
        explode: true
        in: query
        name: depth
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Discovery protocol to use
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          enum:
          - lldp
          - cdp
          - fdb
          - bgp_neighbors
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTopology'
          description: Network topology retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Bad Request - Invalid query parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Unauthorized - Invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Forbidden - Insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Not Found - No topology information found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Internal Server Error - An unexpected error occurred.
      security:
      - coreAuth: []
      summary: Get network topology
      tags:
      - discovery
  /config/acls:
    get:
      operationId: getAllAcls
      responses:
        "200":
          content:
            application/json:
              example:
              - type: extended
                timestamp: 2024-03-15T10:30:00Z
                schemaVersion: "1.0"
                aclName: web-traffic-acl
                description: Web traffic filtering rules
                rules:
                - ruleId: 10
                  description: Allow HTTP traffic
                  matches:
                    ip_proto: 6
                    tcp_dst: 80
                    src_ip:
                      address: 192.168.1.0
                      prefixLength: 24
                  actions:
                    allow: true
                  enabled: true
                - ruleId: 20
                  description: Allow HTTPS traffic
                  matches:
                    ip_proto: 6
                    tcp_dst: 443
                    src_ip:
                      address: 192.168.1.0
                      prefixLength: 24
                  actions:
                    allow: true
                  enabled: true
              schema:
                items:
                  $ref: '#/components/schemas/ACL'
                type: array
          description: List of all ACLs retrieved successfully.
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Get all ACLs
      tags:
      - acl
    post:
      operationId: createAcl
      parameters:
      - description: Unique key for idempotent request handling
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          type: string
        style: simple
      - description: Client-side timestamp for request ordering (RFC3339 format)
        explode: false
        in: header
        name: X-Client-Timestamp
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: extended
              requestId: 123e4567-e89b-12d3-a456-426614174000
              timestamp: 2024-03-15T11:00:00Z
              schemaVersion: "1.0"
              aclName: web-traffic-acl
              description: New ACL for web traffic
              rules:
              - ruleId: 1
                description: Allow HTTPS traffic
                matches:
                  eth_type: 2048
                  ip_proto: 6
                  dst_ip:
                    address: 0.0.0.0
                    prefixLength: 0
                  tcp_dst: 443
                actions:
                  allow: true
                enabled: true
            schema:
              $ref: '#/components/schemas/createAcl_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
          description: ACL created successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdempotencyConflictError'
          description: Idempotency conflict - request with this key was already processed
        "500":
          description: Internal Server Error
      summary: Create a new ACL
      tags:
      - acl
  /config/acls/{aclId}:
    get:
      operationId: getAclConfig
      parameters:
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                aclId: 100
                type: extended
                timestamp: 2024-03-15T10:30:00Z
                schemaVersion: "1.0"
                aclName: web-traffic-acl
                description: ACL for web traffic
                rules:
                - ruleId: 1
                  description: Allow HTTP traffic
                  matches:
                    eth_type: 2048
                    ip_proto: 6
                    dst_ip:
                      address: 0.0.0.0
                      prefixLength: 0
                    tcp_dst: 80
                  actions:
                    allow: true
                  enabled: true
                - ruleId: 2
                  description: Allow HTTPS traffic
                  matches:
                    eth_type: 2048
                    ip_proto: 6
                    dst_ip:
                      address: 0.0.0.0
                      prefixLength: 0
                    tcp_dst: 443
                  actions:
                    allow: true
                  enabled: true
              schema:
                $ref: '#/components/schemas/ACL'
          description: ACL configuration retrieved successfully.
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Get ACL configuration
      tags:
      - acl
    put:
      operationId: updateAclConfig
      parameters:
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclId
        required: true
        schema:
          type: string
        style: simple
      - description: Unique key for idempotent request handling
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          type: string
        style: simple
      - description: Client-side timestamp for request ordering (RFC3339 format)
        explode: false
        in: header
        name: X-Client-Timestamp
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: extended
              requestId: 123e4567-e89b-12d3-a456-426614174000
              timestamp: 2024-03-15T11:00:00Z
              schemaVersion: "1.0"
              aclName: web-traffic-acl
              description: Updated ACL for web traffic filtering
              rules:
              - ruleId: 1
                description: Allow HTTP traffic
                matches:
                  eth_type: 2048
                  ip_proto: 6
                  dst_ip:
                    address: 0.0.0.0
                    prefixLength: 0
                  tcp_dst: 80
                actions:
                  allow: true
                enabled: true
              - ruleId: 2
                description: Allow HTTPS traffic
                matches:
                  eth_type: 2048
                  ip_proto: 6
                  dst_ip:
                    address: 0.0.0.0
                    prefixLength: 0
                  tcp_dst: 443
                actions:
                  allow: true
                enabled: true
            schema:
              $ref: '#/components/schemas/createAcl_request'
        required: true
      responses:
        "200":
          description: ACL configuration updated successfully.
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdempotencyConflictError'
          description: Idempotency conflict - request with this key was already processed
        "500":
          description: Internal Server Error
      summary: Update ACL configuration
      tags:
      - acl
  /config/acls/device/{deviceId}:
    get:
      operationId: getDeviceAcls
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - type: extended
                timestamp: 2024-03-15T10:30:00Z
                schemaVersion: "1.0"
                aclName: web-traffic-acl
                description: Web traffic filtering rules
                rules:
                - ruleId: 1
                  description: Allow HTTP traffic
                  matches:
                    eth_type: 2048
                    ip_proto: 6
                    dst_ip:
                      address: 0.0.0.0
                      prefixLength: 0
                    tcp_dst: 80
                  actions:
                    allow: true
                  enabled: true
                - ruleId: 2
                  description: Allow HTTPS traffic
                  matches:
                    eth_type: 2048
                    ip_proto: 6
                    dst_ip:
                      address: 0.0.0.0
                      prefixLength: 0
                    tcp_dst: 443
                  actions:
                    allow: true
                  enabled: true
              schema:
                items:
                  $ref: '#/components/schemas/ACL'
                type: array
          description: ACLs retrieved successfully.
        "400":
          description: Bad Request - Invalid device ID format.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Device not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      summary: Get all ACLs for a specific device
      tags:
      - acl
    post:
      operationId: createDeviceAcl
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: extended
              timestamp: 2024-03-15T11:00:00Z
              schemaVersion: "1.0"
              deviceId: switch-01
              aclName: new-device-acl
              description: Device-specific ACL
              rules:
              - ruleId: 40
                description: Allow management traffic
                matches:
                  ip_proto: 6
                  tcp_dst: 22
                  src_ip:
                    address: 192.168.1.0
                    prefixLength: 24
                actions:
                  allow: true
                enabled: true
            schema:
              $ref: '#/components/schemas/ACL'
        required: true
      responses:
        "201":
          description: ACL created successfully.
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Device not found.
        "409":
          description: Conflict - ACL with the same name already exists.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      summary: Create a new ACL for a specific device
      tags:
      - acl
  /config/acls/{deviceId}/{aclName}:
    delete:
      operationId: deleteACL
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: ACL deleted successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Delete ACL
      tags:
      - config
    get:
      operationId: getACL
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                type: extended
                timestamp: 2024-03-15T10:30:00Z
                schemaVersion: "1.0"
                aclName: web-traffic-acl
                description: ACL for web traffic filtering
                aclType: extended
                rules:
                - ruleId: 10
                  description: Allow HTTP traffic
                  matches:
                    ip_proto: 6
                    tcp_dst: 80
                    src_ip:
                      address: 192.168.1.0
                      prefixLength: 24
                  actions:
                    allow: true
                    logging:
                      enabled: true
                      level: info
                  enabled: true
                - ruleId: 20
                  description: Allow HTTPS traffic
                  matches:
                    ip_proto: 6
                    tcp_dst: 443
                    src_ip:
                      address: 192.168.1.0
                      prefixLength: 24
                  actions:
                    allow: true
                    logging:
                      enabled: true
                      level: info
                  enabled: true
                statistics:
                  totalHits: 150
                  lastUpdated: 2024-03-15T10:30:00Z
              schema:
                $ref: '#/components/schemas/ACL'
          description: ACL details
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Get specific ACL
      tags:
      - config
    put:
      operationId: updateACL
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: extended
              timestamp: 2024-03-15T11:00:00Z
              schemaVersion: "1.0"
              aclName: web-traffic-acl
              description: Web traffic filtering rules
              aclType: extended
              rules:
              - ruleId: 1
                description: Allow HTTP traffic
                matches:
                  ip_proto: 6
                  tcp_dst: 80
                  src_ip:
                    address: 192.168.1.0
                    prefixLength: 24
                actions:
                  allow: true
                  logging:
                    enabled: true
                    level: info
                enabled: true
              - ruleId: 2
                description: Allow HTTPS traffic
                matches:
                  ip_proto: 6
                  tcp_dst: 443
                  src_ip:
                    address: 192.168.1.0
                    prefixLength: 24
                actions:
                  allow: true
                  logging:
                    enabled: true
                    level: info
                enabled: true
            schema:
              $ref: '#/components/schemas/ACL'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
          description: ACL updated successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Create or update ACL
      tags:
      - config
  /config/acls/{deviceId}/{aclName}/rules:
    post:
      operationId: addACLRule
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              ruleId: 30
              description: Allow HTTPS traffic
              matches:
                ip_proto: 6
                tcp_dst: 443
                src_ip:
                  address: 192.168.1.0
                  prefixLength: 24
              actions:
                allow: true
                logging:
                  enabled: true
                  level: info
              enabled: true
            schema:
              $ref: '#/components/schemas/ACLRule'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLRule'
          description: Rule added successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Add rule to ACL
      tags:
      - config
  /config/acls/{deviceId}/{aclName}/rules/{ruleId}:
    delete:
      operationId: deleteACLRule
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclName
        required: true
        schema:
          type: string
        style: simple
      - example: 1
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Rule deleted successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Delete ACL rule
      tags:
      - config
    put:
      operationId: updateACLRule
      parameters:
      - example: switch-01
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - example: web-traffic-acl
        explode: false
        in: path
        name: aclName
        required: true
        schema:
          type: string
        style: simple
      - example: 1
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            example:
              ruleId: 1
              description: Updated HTTP traffic rule
              matches:
                ip_proto: 6
                tcp_dst: 80
              actions:
                allow: true
                logging:
                  enabled: true
                  level: debug
              enabled: true
            schema:
              $ref: '#/components/schemas/ACLRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLRule'
          description: Rule updated successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Update ACL rule
      tags:
      - config
  /config/devices:
    get:
      operationId: getAllDeviceConfigs
      responses:
        "200":
          content:
            application/json:
              example:
              - deviceId: switch-01
                deviceRoles:
                - Switch
                managementIp: 192.168.1.10
                hostname: core-switch-01
                macAddress: 00:11:22:33:44:55
              - deviceId: router-01
                deviceRoles:
                - Router
                managementIp: 2001:db8::1
                hostname: edge-router-01
              schema:
                items:
                  $ref: '#/components/schemas/Device'
                type: array
          description: List of device configurations
        "400":
          description: Bad Request - Invalid query parameters.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - No devices found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get all device configurations
      tags:
      - config
    post:
      description: Create a new device or update an existing device configuration
      operationId: createOrUpdateDevice
      parameters:
      - description: Unique key for idempotent request handling
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          type: string
        style: simple
      - description: Client-side timestamp for request ordering (RFC3339 format)
        explode: false
        in: header
        name: X-Client-Timestamp
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: DEVICE_CONFIG_UPDATE
              timestamp: 2024-03-15T11:00:00Z
              requestId: 123e4567-e89b-12d3-a456-426614174003
              config:
                type: DEVICE_CONFIG_UPDATE
                timestamp: 2024-03-15T11:00:00Z
                schemaVersion: "1.0"
                device:
                  deviceId: switch-02
                  deviceRoles:
                  - Switch
                config:
                  deviceSettings:
                    type: DEVICE_SETTINGS_UPDATE
                    timestamp: 2024-03-15T11:00:00Z
                    deviceId: switch-02
                    hostname: access-switch-02
                    managementIp: 192.168.1.12
                    snmpCommunity: public
                    ntpServers:
                    - 192.168.1.1
                    - ntp.example.com
                    syslogServers:
                    - syslog.example.com
                    dnsSettings:
                      servers:
                      - 8.8.8.8
                      - 8.8.4.4
                      domain: example.com
                      searchDomains:
                      - example.com
                      - corp.example.com
                applyImmediately: true
            schema:
              $ref: '#/components/schemas/createOrUpdateDevice_request'
        required: true
      responses:
        "200":
          description: Device configuration updated successfully
        "201":
          description: Device created successfully
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdempotencyConflictError'
          description: Idempotency conflict - request with this key was already processed
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Create or update device configuration
      tags:
      - config
  /config/devices/info/bulk:
    post:
      operationId: requestBulkDeviceInfo
      requestBody:
        content:
          application/json:
            example:
              type: DEVICE_INFO_REQUEST
              timestamp: 2024-01-01T00:00:00Z
              devices:
              - switch-01
              - switch-02
              schemaVersion: "1.0"
            schema:
              $ref: '#/components/schemas/requestBulkDeviceInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/DeviceInfoResponse'
                type: object
          description: Bulk device information response
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Request information for multiple devices
      tags:
      - config
  /config/devices/{deviceId}:
    get:
      operationId: getDeviceConfig
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                type: DEVICE_SETTINGS_UPDATE
                timestamp: 2024-03-15T11:00:00Z
                deviceId: switch-01
                hostname: core-switch-01
                managementIp: 2001:db8::10
                snmpCommunity: public
                ntpServers:
                - 192.168.1.1
                - ntp.example.com
                syslogServers:
                - syslog.example.com
                dnsSettings:
                  servers:
                  - 8.8.8.8
                  - 8.8.4.4
                  domain: example.com
                  searchDomains:
                  - example.com
                  - corp.example.com
              schema:
                $ref: '#/components/schemas/DeviceSettings'
          description: Device configuration
        "400":
          description: Bad Request - Invalid device ID format.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Device not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get device configuration
      tags:
      - config
    put:
      operationId: updateDeviceConfig
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: DEVICE_CONFIG_UPDATE
              timestamp: 2024-03-15T11:00:00Z
              schemaVersion: "1.0"
              device:
                deviceId: switch-01
                deviceRoles:
                - Switch
              config:
                deviceSettings:
                  type: DEVICE_SETTINGS_UPDATE
                  timestamp: 2024-03-15T11:00:00Z
                  deviceId: switch-01
                  hostname: core-switch-01-updated
                  managementIp: 2001:db8::10
                  snmpCommunity: public
                  ntpServers:
                  - 192.168.1.1
                  - ntp.example.com
                  syslogServers:
                  - syslog.example.com
                  dnsSettings:
                    servers:
                    - 8.8.8.8
                    - 8.8.4.4
                    domain: example.com
                    searchDomains:
                    - example.com
                    - corp.example.com
            schema:
              $ref: '#/components/schemas/DeviceConfigUpdateMessage'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSettings'
          description: Device configuration updated successfully
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Device not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Update device configuration
      tags:
      - config
  /config/devices/{deviceId}/info:
    get:
      description: Query device information using DeviceInfoRequest parameters. The
        type parameter must be DEVICE_INFO_REQUEST to match the DeviceInfoRequest
        component schema.
      operationId: getDeviceInfo
      parameters:
      - description: ID of the device to query (from DeviceInfoRequest)
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - description: "Message type, must be DEVICE_INFO_REQUEST (from DeviceInfoRequest)"
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - DEVICE_INFO_REQUEST
          type: string
        style: form
      - description: Request timestamp (from BaseMessage)
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceInfoResponse'
          description: Device information response
        "400":
          description: Bad Request - Invalid query parameters.
        "401":
          description: Unauthorized - Invalid API key.
        "404":
          description: Not Found - Device not found.
      security:
      - configAuth: []
      summary: Get device information
      tags:
      - config
    post:
      operationId: requestDeviceInfo
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: DEVICE_INFO_REQUEST
              timestamp: 2024-01-01T00:00:00Z
              deviceId: switch-01
              schemaVersion: "1.0"
            schema:
              $ref: '#/components/schemas/DeviceInfoRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                type: DEVICE_INFO_RESPONSE
                timestamp: 2024-01-01T00:00:01Z
                deviceId: switch-01
                schemaVersion: "1.0"
                settings:
                  type: DEVICE_INFO_RESPONSE
                  timestamp: 2024-01-01T00:00:00Z
                  deviceId: switch-01
                  hostname: core-switch-01
              schema:
                $ref: '#/components/schemas/DeviceInfoResponse'
          description: Device information response
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "404":
          description: Not Found - Device not found.
      security:
      - configAuth: []
      summary: Request device information
      tags:
      - config
  /config/devices/{deviceId}/interfaces:
    get:
      operationId: getDeviceInterfaces
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/getDeviceInterfaces_200_response_value'
                type: object
          description: Device interfaces configuration
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Get device interfaces configuration
      tags:
      - config
  /config/devices/{deviceId}/interfaces/{interfaceId}:
    put:
      operationId: updateInterfaceConfig
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDeviceInterfaces_200_response_value'
        required: true
      responses:
        "200":
          description: Interface configuration updated successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Update interface configuration
      tags:
      - config
  /config/devices/{deviceId}/system:
    get:
      operationId: getSystemSettings
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSystemSettings_200_response'
          description: System settings
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Get system settings
      tags:
      - config
    put:
      operationId: updateSystemSettings
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSystemSettings_200_response'
        required: true
      responses:
        "200":
          description: System settings updated successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Update system settings
      tags:
      - config
  /config/switch:
    get:
      description: "Retrieves the configuration of a network switch including features,\
        \ ports, and capabilities"
      operationId: getSwitchConfig
      parameters:
      - description: ID of the switch
        explode: true
        in: query
        name: deviceId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                deviceId: switch-01
                deviceModel: SN-8800-48P
                firmwareVersion: 1.2.3
                datapathId: 00:00:00:00:00:00:00:01
                deviceRoles:
                - Switch
                numTables: 4
                numPorts: 48
                networkInterfaces:
                - name: eth0
                  description: Uplink to Core
                  enabled: true
                  speed: 10Gbps
                  type: ethernet
                  mtu: 9000
                ports:
                - portId: 1
                  name: eth1
                  type: ethernet
                  enabled: true
                  speed: 10Gbps
                  adminState: enabled
                  operState: up
                  nativeVlan: 1
                  maxLearnedMacs: 1000
                  stormControl:
                    broadcast: 80
                    multicast: 80
                    unicast: 90
                features:
                  stacking:
                    enabled: true
                    role: master
                    priority: 100
                  portChannels:
                    maxGroups: 24
                    supportedProtocols:
                    - lacp
                    - static
                  spanningTree:
                    enabled: true
                    mode: rstp
                deviceConfig:
                  hostname: edge-switch-01
                  managementIp: 192.168.1.10
                  deviceMode: STANDALONE
                  systemSettings:
                    timezone: UTC
                    ntpServers:
                    - pool.ntp.org
                    loggingLevel: INFO
              schema:
                $ref: '#/components/schemas/SwitchDeviceConfig'
          description: Switch configuration retrieved successfully
        "400":
          description: Bad Request - Invalid query parameters.
        "401":
          description: Unauthorized - Invalid API key.
        "404":
          description: Not Found - Device not found.
      security:
      - configAuth: []
      summary: Get Switch Configuration
      tags:
      - config
    post:
      description: Updates the configuration of a network switch
      operationId: updateSwitchConfig
      requestBody:
        content:
          application/json:
            example:
              deviceId: switch-02
              datapathId: 00:00:00:00:00:00:00:02
              deviceRoles:
              - Switch
              numTables: 4
              numPorts: 24
              ports:
              - portId: 1
                name: eth1
                type: ethernet
                enabled: true
                speed: 1Gbps
                adminState: enabled
                operState: up
                nativeVlan: 1
                maxLearnedMacs: 1000
                portSecurity:
                  enabled: true
                  maxMacAddresses: 10
                  violationAction: protect
              features:
                stacking:
                  enabled: false
                portChannels:
                  maxGroups: 8
                  supportedProtocols:
                  - lacp
                spanningTree:
                  enabled: true
                  mode: rstp
            schema:
              $ref: '#/components/schemas/SwitchDeviceConfig'
        description: Switch configuration update
        required: true
      responses:
        "200":
          description: Switch configuration updated successfully
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "409":
          description: Conflict - Business rule conflict.
      security:
      - configAuth: []
      summary: Update Switch Configuration
      tags:
      - config
  /config/switches:
    get:
      operationId: getAllSwitches
      responses:
        "200":
          content:
            application/json:
              example:
              - deviceId: switch-01
                deviceRoles:
                - Switch
                datapathId: 00:00:00:00:00:00:00:01
                numTables: 4
                numPorts: 48
                ports:
                - portId: 1
                  name: eth1
                  type: ethernet
                  speed: 10Gbps
                  enabled: true
                  adminState: enabled
              - deviceId: switch-02
                deviceRoles:
                - Switch
                datapathId: 00:00:00:00:00:00:00:02
                numTables: 4
                numPorts: 24
                ports:
                - portId: 1
                  name: eth1
                  type: ethernet
                  speed: 1Gbps
                  enabled: true
                  adminState: enabled
              schema:
                items:
                  $ref: '#/components/schemas/SwitchDeviceConfig'
                type: array
          description: List of all switches retrieved successfully.
        "400":
          description: Bad Request - Invalid query parameters.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - No switches found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get all switches
      tags:
      - switch
  /config/switches/{deviceId}:
    get:
      operationId: getSwitchConfigById
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                deviceId: switch-01
                datapathId: 00:00:00:00:00:00:00:01
                deviceRoles:
                - Switch
                numTables: 4
                numPorts: 48
                ports:
                - portId: 1
                  name: eth1
                  type: ethernet
                  enabled: true
                  speed: 10Gbps
                  adminState: enabled
                  operState: up
                  nativeVlan: 1
                  maxLearnedMacs: 1000
                  stormControl:
                    broadcast: 80
                    multicast: 80
                    unicast: 90
                features:
                  stacking:
                    enabled: true
                    role: master
                    priority: 100
                  portChannels:
                    maxGroups: 24
                    supportedProtocols:
                    - lacp
                    - static
                  spanningTree:
                    enabled: true
                    mode: rstp
              schema:
                $ref: '#/components/schemas/SwitchDeviceConfig'
          description: Switch configuration retrieved successfully.
        "400":
          description: Bad Request - Invalid device ID format.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Switch not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get switch configuration
      tags:
      - switch
    put:
      operationId: updateSwitchConfigById
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchDeviceConfig'
        required: true
      responses:
        "200":
          description: Switch configuration updated successfully.
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Switch not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Update switch configuration
      tags:
      - switch
  /config/switches/{deviceId}/features:
    get:
      operationId: getSwitchFeatures
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                stacking:
                  enabled: true
                  role: master
                  priority: 100
                portChannels:
                  maxGroups: 24
                  supportedProtocols:
                  - lacp
                  - static
                spanningTree:
                  enabled: true
                  mode: rstp
              schema:
                $ref: '#/components/schemas/SwitchFeatures'
          description: Switch features retrieved successfully.
        "400":
          description: Bad Request - Invalid device ID format.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Switch not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get switch features
      tags:
      - switch
    put:
      operationId: updateSwitchFeatures
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              stacking:
                enabled: true
                role: backup
                priority: 90
              portChannels:
                maxGroups: 24
                supportedProtocols:
                - lacp
                - pagp
                - static
              spanningTree:
                enabled: true
                mode: mstp
            schema:
              $ref: '#/components/schemas/SwitchFeatures'
        required: true
      responses:
        "200":
          description: Switch features updated successfully.
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Switch not found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Update switch features
      tags:
      - switch
  /config/switches/{deviceId}/ports:
    get:
      operationId: getAllPorts
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: 1
                name: eth1
                type: ethernet
                enabled: true
                speed: 10Gbps
                adminState: enabled
                operState: up
                nativeVlan: 1
                maxLearnedMacs: 1000
                stormControl:
                  broadcast: 80
                  multicast: 80
                  unicast: 90
              - portId: 2
                name: eth2
                type: ethernet
                enabled: true
                speed: 10Gbps
                adminState: enabled
                operState: up
                nativeVlan: 1
                maxLearnedMacs: 1000
              schema:
                items:
                  $ref: '#/components/schemas/PortConfig'
                type: array
          description: List of port configurations retrieved successfully.
        "400":
          description: Bad Request - Invalid device ID format.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - No ports found for the switch.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get all port configurations
      tags:
      - switch
  /config/switches/{deviceId}/ports/{portId}:
    get:
      operationId: getPortConfig
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                portId: 1
                name: eth1
                type: ethernet
                enabled: true
                speed: 10Gbps
                adminState: enabled
                operState: up
                nativeVlan: 1
                maxLearnedMacs: 1000
                stormControl:
                  broadcast: 80
                  multicast: 80
                  unicast: 90
              schema:
                $ref: '#/components/schemas/PortConfig'
          description: Port configuration retrieved successfully.
        "400":
          description: Bad Request - Invalid port ID format.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Port not found for the switch.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Get port configuration
      tags:
      - switch
    put:
      operationId: updatePortConfig
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            example:
              portId: 1
              name: eth1
              type: ethernet
              enabled: true
              speed: 10Gbps
              adminState: enabled
              nativeVlan: 10
              maxLearnedMacs: 2000
              stormControl:
                broadcast: 70
                multicast: 70
                unicast: 80
              portSecurity:
                enabled: true
                maxMacAddresses: 5
                violationAction: restrict
            schema:
              $ref: '#/components/schemas/PortConfig'
        required: true
      responses:
        "200":
          description: Port configuration updated successfully.
        "400":
          description: Bad Request - Invalid input data.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - Port not found for the switch.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      security:
      - configAuth: []
      summary: Update port configuration
      tags:
      - switch
  /config/vlan:
    get:
      description: Retrieve VLAN configuration details
      operationId: getVlanConfig
      parameters:
      - description: VLAN identifier
        explode: true
        in: query
        name: vlanId
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                vlanId: 100
                name: user-vlan
                description: VLAN for user traffic
                status: active
                ports:
                  untagged:
                  - name: eth1
                    type: ethernet
                    speed: 10Gbps
                    enabled: true
                  tagged:
                  - name: eth2
                    type: ethernet
                    speed: 10Gbps
                    enabled: true
                properties:
                  mtu: 9000
                  igmpSnooping: true
                  dhcpSnooping: true
                  stormControl:
                    broadcast: 80
                    multicast: 80
                    unicast: 90
              schema:
                $ref: '#/components/schemas/VLAN'
          description: VLAN configuration details
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Get VLAN Configuration
      tags:
      - config
    post:
      description: Create a new VLAN or update existing VLAN configuration
      operationId: createVlanConfig
      requestBody:
        content:
          application/json:
            example:
              vlanId: 200
              name: guest-vlan
              description: VLAN for guest access
              status: active
              ports:
                untagged:
                - name: eth3
                  type: ethernet
                  speed: 1Gbps
                  enabled: true
                tagged: []
              properties:
                mtu: 1500
                igmpSnooping: false
                dhcpSnooping: true
                stormControl:
                  broadcast: 70
                  multicast: 70
                  unicast: 80
              security:
                macLimiters:
                  maxMacAddresses: 100
                  violationAction: protect
            schema:
              $ref: '#/components/schemas/VLAN'
        description: VLAN configuration details
        required: true
      responses:
        "200":
          description: Request Successful
        "201":
          description: Created Successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "409":
          description: Business Rule Conflict
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Create or Update VLAN Configuration
      tags:
      - config
    put:
      description: Update existing VLAN configuration
      operationId: updateVlanConfig
      parameters:
      - description: ETag for optimistic concurrency control
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VLAN'
        description: VLAN configuration details
        required: true
      responses:
        "200":
          description: Request Successful
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "409":
          description: Business Rule Conflict
        "500":
          description: Internal Server Error
      security:
      - configAuth: []
      summary: Update VLAN Configuration
      tags:
      - config
  /config/vlans:
    get:
      operationId: getAllVlanConfigs
      responses:
        "200":
          content:
            application/json:
              example:
              - vlanId: 100
                name: user-vlan
                description: VLAN for user traffic
                status: active
                ports:
                  untagged:
                  - name: eth1
                    type: ethernet
                    speed: 10Gbps
                    enabled: true
                  tagged:
                  - name: eth2
                    type: ethernet
                    speed: 10Gbps
                    enabled: true
              - vlanId: 200
                name: guest-vlan
                description: VLAN for guest access
                status: active
                ports:
                  untagged:
                  - name: eth3
                    type: ethernet
                    speed: 1Gbps
                    enabled: true
                  tagged: []
              schema:
                items:
                  $ref: '#/components/schemas/VLAN'
                type: array
          description: List of all VLAN configurations retrieved successfully.
        "400":
          description: Bad Request - Invalid query parameters.
        "401":
          description: Unauthorized - Invalid API key.
        "403":
          description: Forbidden - Insufficient permissions.
        "404":
          description: Not Found - No VLAN configurations found.
        "500":
          description: Internal Server Error - An unexpected error occurred.
      summary: Get all VLAN configurations
      tags:
      - vlan
  /config/vlans/{deviceId}:
    get:
      operationId: getDeviceVLANs
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - vlanId: 100
                name: user-vlan
                description: VLAN for user traffic
                status: active
                ports:
                  untagged:
                  - name: eth1
                    type: ethernet
                    speed: 10Gbps
                    enabled: true
                  tagged:
                  - name: eth2
                    type: ethernet
                    speed: 10Gbps
                    enabled: false
              schema:
                items:
                  $ref: '#/components/schemas/VLAN'
                type: array
          description: List of VLANs
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Get all VLANs for a device
      tags:
      - vlan
    post:
      operationId: createVLAN
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VLAN'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VLAN'
          description: VLAN created successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "409":
          description: Business Rule Conflict
        "500":
          description: Internal Server Error
      summary: Create new VLAN
      tags:
      - vlan
  /config/vlans/{deviceId}/{vlanId}:
    delete:
      operationId: deleteVLAN
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vlanId
        required: true
        schema:
          maximum: 4094
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: VLAN deleted successfully
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Delete VLAN
      tags:
      - vlan
    get:
      operationId: getVLAN
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vlanId
        required: true
        schema:
          maximum: 4094
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                vlanId: 100
                name: user-vlan
                description: VLAN for user traffic
                status: active
                ports:
                  untagged:
                  - name: eth1
                    type: ethernet
                    speed: 10Gbps
                    enabled: true
                  tagged:
                  - name: eth2
                    type: ethernet
                    speed: 10Gbps
                    enabled: false
                properties:
                  mtu: 9000
                  igmpSnooping: true
                  dhcpSnooping: true
              schema:
                $ref: '#/components/schemas/VLAN'
          description: VLAN details
        "400":
          description: Data Validation Failed
        "401":
          description: User Not Authenticated
        "403":
          description: Permission Check Failed
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
      summary: Get VLAN details
      tags:
      - vlan
    put:
      operationId: updateVLAN
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vlanId
        required: true
        schema:
          maximum: 4094
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            example:
              vlanId: 100
              name: user-vlan-updated
              description: Updated VLAN for user traffic
              status: active
              ports:
                untagged:
                - name: eth1
                  type: ethernet
                  speed: 10Gbps
                  enabled: true
                - name: eth3
                  type: ethernet
                  speed: 10Gbps
                  enabled: true
                tagged:
                - name: eth2
                  type: ethernet
                  speed: 10Gbps
                  enabled: false
              properties:
                mtu: 9000
                igmpSnooping: true
                dhcpSnooping: true
                stormControl:
                  broadcast: 60
                  multicast: 60
                  unicast: 70
            schema:
              $ref: '#/components/schemas/VLAN'
        required: true
[...]
